.bg-dots {
  background-image: url('../../../assets/img/dots.png');
  background-size: 10rem;
}
.z-2{
  z-index: 4;
}

.swiper {
  width: 70%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
}

.swiper-slide img {
  display: block;
  width: 10%;
}
