<nav class="nav bg-gradient-to-r from-ndg to-indigo-900 opacity-50"
  data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="1000">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <a [routerLink]="['/home']"> <span class="font-semibold text-xl tracking-tight ml-1">Ronnovič &#8226;</span>
      <span class="font-light text-lg tracking-tight ml-2">Web Developer</span></a>
  </div>
  <div class="block lg:hidden">
    <button id='navbtn' (click)="toggle()"
      class="flex items-center px-3 py-2 text-bl">
      <i class="fa-solid fa-bars"></i></button>
  </div>
  <div id='menu' class="w-full justify-end lg:flex lg:items-center lg:w-auto hidden">
    <div class="flex justify-center">
      <a class="alink" [routerLink]="['/home']" [routerLinkActive]="'active'" (click)="autohide()">Home</a>
      <a class="alink" [routerLink]="['/profile']" [routerLinkActive]="'active'" (click)="autohide()">Profile</a>
      <a class="alink" [routerLink]="['/landing']" [routerLinkActive]="'active'" (click)="autohide()">Services</a>
      <a href="https://wa.me/573216233719?text=Hi%20Ron!,%20let's%20work%20together" target="_blank" (click)="autohide()"
        class="inline-block text-sm px-4 py-2 leading-none border rounded-full text-white border-bl hover:border-bl hover:text-bl hover:bg-transparent hover:ring-2 ease-in-out duration-300 hover:scale-110 mt-4 lg:mt-0">Contact</a>
    </div>
  </div>
</nav>
