
<div class="bg-gradient-to-r from-ndg to-indigo-900 border-t-2 border-bl">
  <div class="container h-32 ">
    <div class="flex flex-row justify-center mt-4 text-white">
      <a href="https://twitter.com/ronrtoth" target="_blank" class="m-2"><i class="fa-brands fa-twitter"></i></a>
      <a href="https://github.com/rigeltoth" target="_blank" class="m-2"><i class="fa-brands fa-github"></i></a>
      <a href="https://github.com/rigeltoth" target="_blank" class="m-2"><i class="fa-brands fa-discord"></i></a>
    </div>
    <div class="flex flex-row justify-center">
      <div class="flex-col m-auto text-white">
        <a [routerLink]="['/home']"> <span class="font-semibold text-xl tracking-tight ml-1">Ronnovič &#8226;</span>
          <span class="font-light text-lg tracking-tight ml-2">Web Developer</span></a>
      </div>
    </div>
  </div>
</div>
