<div class="backgroung">
    <!-- <img class="bg-img center" src="./assets/img/path1min.png"> -->
    <div class="container flex h-screen flex-wrap items-center justify-center w-full">
      <h1 data-aos="zoom-in" data-aos-easing="linear" 
        class="text-center text-3xl text-white font-normal lg:font-bold">Welcome to the web universe, <br>
        <span class="text-center text-3xl text-white font-normal lg:font-bold">Let's build an incredible digital world.</span>
      </h1>
    </div>

    <!-- <img class="bg-img right-0" src="./assets/img/path2min.png"> -->
    <!-- profile-page and landing-page -->
    <div class="container flex flex-row h-96 flex-wrap items-center justify-evenly px-2 lg:px-20">
      <div data-aos="zoom-out" data-aos-easing="ease-in-out" 
        class="flex flex-col lg:w-2/5">
        <div
          class="img-pl">
          <a [routerLink]="['/landing']"> <img class="rounded" src="./assets/img/lndg.png" alt="Profile"> </a>
        </div>
        <div class="flex flex-row justify-center my-5">
          <a [routerLink]="['/landing']"
            class="alink-pl">Wiew
            Services</a>
        </div>
      </div>
      <div data-aos="zoom-out" data-aos-easing="ease-in-out" 
        class="flex flex-col lg:w-2/5">
        <div
          class="img-pl">
          <a [routerLink]="['/profile']"> <img class="rounded" src="./assets/img/prfl.png" alt="Profile"> </a>
        </div>
        <div class="flex flex-row justify-center my-5">
          <a [routerLink]="['/profile']"
            class="alink-pl">Wiew
            Profile</a>
        </div>
      </div>
    </div>

    <!-- neon cards -->
    <!-- <img class="bg-img h-20 lg:h-96 opacity-5" src="./assets/img/path3min.png"> -->
    <div class="container h-screen mt-60 sm:mt-[32rem] md:mt-[42rem] lg:mt-24 flex flex-row flex-wrap justify-evenly items-center">
     
      <app-neon-card *ngFor="let card of cards" 
      [config]="card"></app-neon-card>

    </div>

    <!-- hire me -->
    <div class="container mt-[60rem] lg:mt-40 grid grid-cols-1 lg:grid-cols-2">
      <div  data-aos="zoom-in" data-aos-easing="linear" 
      class="flex flex-wrap items-center justify-center ">
        <h1 class="text-center mx-10 w-full text-4xl text-white font-light">
          Do you want to work together?, I'm sure we'll do very well.
        </h1>
      </div>

      <div data-aos="fade-left" data-aos-easing="ease-in-out"
      class=" flex bg-transparent items-center justify-center drop-shadow-2xl">
        <div class="flex items-center justify-center p-5 h-screen">
          <div
            class="bg-transparent hover:bg-indigo-900 font-semibold text-center rounded-3xl border-2 border-bl hover:ring-2 shadow-lg p-10 max-w-xs">
            <img class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto" src="./assets/img/profile-pic.jpg"
              alt="product designer">
            <h1 class="text-lg text-white"> Ronnovič Rigel Toth </h1>
            <h3 class="text-sm text-bl "> Web Developer </h3>
            <p class="text-xs text-blue-200 mt-4 mb-6"> I'm a Full Stack MEAN Junior developer,
              I'm very good at teamwork and fast learning, besides i'm a physical engineering student,
              so I have knowledge in advanced calculus, chemistry, physics, robotics, english and much more </p>
            <a [routerLink]="['/profile']"
              class="inline-block text-sm px-4 py-3 mt-4 leading-none border rounded-full text-white border-bl ease-in-out duration-300 hover:text-bl hover:bg-transparent hover:scale-110 hover:ring-2 lg:mt-0">
            Profile</a>
          </div>
        </div>
      </div>
    </div>
</div>
