<div class="backgroung">
    <img class="bg-img center" src="./assets/img/path1min.png">
    <div class="container flex h-screen flex-wrap items-center justify-center w-full">
      <h1 data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="1000"
        class="text-center text-3xl text-white font-bold">Welcome to the web universe, <br>
        <span class="text-center text-3xl text-white font-bold">Let's build an incredible digital world.</span>
      </h1>
    </div>

    <img class="bg-img center" src="./assets/img/path2min.png">
    <!-- profile-page and landing-page -->
    <div class="container flex flex-row h-96 flex-wrap items-center justify-evenly px-2 lg:px-20">
      <div data-aos="zoom-out" data-aos-easing="ease-in-out" data-aos-duration="1000"
        class="flex flex-col lg:w-2/5">
        <div
          class="img-pl">
          <a [routerLink]="['/landing']"> <img class="rounded" src="./assets/img/lndng.png" alt="Profile"> </a>
        </div>
        <div class="flex flex-row justify-center my-5">
          <a [routerLink]="['/landing']"
            class="alink-pl">Wiew
            Services</a>
        </div>
      </div>
      <div data-aos="zoom-out" data-aos-easing="ease-in-out" data-aos-duration="1000"
        class="flex flex-col lg:w-2/5">
        <div
          class="img-pl">
          <a [routerLink]="['/profile']"> <img class="rounded" src="./assets/img/prfl.png" alt="Profile"> </a>
        </div>
        <div class="flex flex-row justify-center my-5">
          <a [routerLink]="['/profile']"
            class="alink-pl">Wiew
            Profile</a>
        </div>
      </div>
    </div>
</div>
